<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <% include ./layout/navbar.ejs %>
    <%= data %>
      <!-- <% if(true){ %>
    <div>ejs working</div>
    <% } else { %>
      <div>ejs not working</div>
      <% } %> -->
</body>

</html>