/* import 구글 폰트 삽입 */
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");

/* font-face 눈누 폰트 삽입 */


/* font-face 상대경로로 폰트 연결 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./font/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


body {
  color: red;
}
h1,
h2 {
  font-weight: normal;
}
h1 {
  color: inherit;
  font-family: "Black Han Sans", sans-serif;
}
strong {
  border-bottom: 5px solid currentColor;
}

h2 {
  color: #999;
  font-family: "Bagel Fat One", cursive;
}

.font-pc {
  font-family: Pretendard-Regular, 'Times New Roman', Dotum, '돋움', sans-serif;
}